input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.dialog-container {
  position: relative;

  .progress-bar {
    position: absolute;
    left: -24px;
    right: -24px;
    top: -24px;
    width: calc(100% + 48px)
  }
}